body{background-color: royalblue;}

.a{padding-left: 50px;}

h1{text-align: center; background: white; color: royalblue; }

h2{text-align: center;border:1px solid black;margin: 10px;
    padding: 10px;}